# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.cache/
Makefile
app-flash_args
bootloader-flash_args
bootloader-prefix/
build/
cmake_install.cmake
config.env
config/
dependencies.lock
esp-idf/
flash_app_args
flash_args
flash_args.in
flash_bootloader_args
flash_project_args
flasher_args.json
kconfigs.in
kconfigs_projbuild.in
ldgen_libraries
ldgen_libraries.in
managed_components/
partition-table-flash_args
project_description.json
sdkconfig

